@using Microsoft.AspNetCore.Identity
@using PlagiarismCompare.Data.Models
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Plagarism Detector</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">

            <ul class="navbar-nav flex-grow-1">
                @if (SignInManager.IsSignedIn(User))
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="studentsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Students
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="studentsDropdown">
                            <li>
                                <a class="dropdown-item" asp-area="" asp-controller="Student" asp-action="Create">Create</a>
                            </li>
                            <li>
                                <a class="dropdown-item" asp-area="" asp-controller="Student" asp-action="Index">List</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="modulesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Modules
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="modulesDropdown">
                            <li>
                                <a class="dropdown-item" asp-area="" asp-controller="Module" asp-action="Create">Create</a>
                            </li>
                            <li>
                                <a class="dropdown-item" asp-area="" asp-controller="Module" asp-action="Index">List</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="semestersDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Semesters
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="semestersDropdown">
                            <li>
                                <a class="dropdown-item" asp-area="" asp-controller="Semester" asp-action="Index">List</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="submissionsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Submissions
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="submissionsDropdown">
                            <li>
                                <a class="dropdown-item" asp-area="" asp-controller="Submission" asp-action="Index">List</a>
                            </li>
                        </ul>
                    </li>
                }
            </ul>
            <partial name="_LoginPartial"/>
        </div>
    </div>
</nav>