﻿@using Microsoft.AspNetCore.Identity
@using PlagiarismCompare.Data.Models
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @if (SignInManager.IsSignedIn(User))
    {
        <div class="row row-cols-1 row-cols-md-4 g-4">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h4>Students</h4>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <a asp-controller="Student" asp-action="Create">Create</a>
                            </li>
                            <li class="list-group-item">
                                <a asp-controller="Student" asp-action="Index">List</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h4>Modules</h4>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <a asp-controller="Module" asp-action="Create">Create</a>
                            </li>
                            <li class="list-group-item">
                                <a asp-controller="Module" asp-action="Index">List</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h4>Semesters</h4>
                    </div>
                    <div class="card-body">
                        <li class="list-group-item">
                            <a tabindex="0" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-content="Semesters can be created from the list modules page" href="#">Create</a>
                        </li>
                        <li class="list-group-item">
                            <a asp-controller="Semester" asp-action="Index">List</a>
                        </li>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h4>Submissions</h4>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <a tabindex="0" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-content="Submissions can be created from the semester or student details pages which can be found by first listing them" href="#">Create</a>
                            </li>
                            <li class="list-group-item">
                                <a asp-controller="Submission" asp-action="Index">List</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <p>To get started <a asp-area="Identity" asp-page="/Account/Register">create an account</a> or <a asp-area="Identity" asp-page="/Account/Login">login</a></p>
    }
</div>

@section Scripts
{
    <script>
    // Enable popovers
    var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
    var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
      return new bootstrap.Popover(popoverTriggerEl)
    })
    </script>
}