@model PlagiarismCompare.Data.Models.Module

@{
    ViewData["Title"] = "Details";
}

<h1>Module Details</h1>

<div>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>

<div>
    <h4>Semesters</h4>
    <hr/>
    <table class="table">
        <thead>
        <tr>
            <th>Year</th>
            <th>Term</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var semester in Model.Semesters)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => semester.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => semester.Term)
                </td>
                <td>
                    <a asp-controller="Semester" asp-action="Edit" asp-route-id="@semester.Id">Edit</a> |
                    <a asp-controller="Semester" asp-action="Details" asp-route-id="@semester.Id">Details</a> |
                    <a asp-controller="Semester" asp-action="Delete" asp-route-id="@semester.Id">Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>