@using PlagiarismCompare.Data.Models
@model PlagiarismCompare.Data.Models.CFile

@{
    ViewData["Title"] = "Details";
    var submission = Model.Submission;
    var semester = submission.SemesterStudent.Semester;
    var module = semester.Module;
    var student = submission.SemesterStudent.Student;

    IQueryable<ComparisonResult> comparisonResults = ViewBag.ComparisonResults;
    string reports = ViewBag.Reports;
}

@section Head
{
    <style>
        .codeLine {
            color: black;
            display: block;
        }
        
        code .codeLine::before {
            color: red;
            content: attr(line-number);
            padding-right: 1em;
        }
    </style>
}

<h1>File Details</h1>

<div>
    <h4>Comparison results</h4>
    <hr/>
    <table class="table">
        <thead>
        <tr>
            <th>Other file path</th>
            <th># Characters</th>
            <th># Lines</th>
            <th># Tokens</th>
            <th>Longest token match</th>
            <th>Similarity</th>
            <th>Error?</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @{ int i = 0; }
        @foreach (var comparisonResult in comparisonResults)
        {
            var otherFile = comparisonResult.GetOtherCFile(Model);
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => otherFile.FilePath)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => otherFile.NumCharacters)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => otherFile.NumLines)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => otherFile.NumTokens)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => comparisonResult.LongestTokenMatch)
                </td>
                <td>
                    @comparisonResult.Similarity.ToString("P")
                </td>
                <td>
                    @Html.DisplayName(otherFile.Error != null ? "Yes" : "No")
                </td>
                <td>
                    <a href="#" data-id="@i" data-other-file-id="@otherFile.Id" class="compare-link">Compare</a> |
                    <a asp-controller="CFile" asp-action="Details" asp-route-id="@otherFile.Id">File details</a>
                </td>
            </tr>
            i++;
        }
        @if (!comparisonResults.Any())
        {
            <tr>
                <td colspan="8">No files found</td>
            </tr>
        }
        </tbody>
    </table>
</div>

<div class="mt-3">
    <table class="table">
        <thead>
        <tr>
            <th>Details</th>
            <th>Selected file</th>
            <th>Other file</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">Module code</th>
            <td>
                <a asp-controller="Module" asp-action="Details" asp-route-id="@module.Id">
                    @Html.DisplayFor(model => module.Code)
                </a>
            </td>
            <td id="otherFileModuleCode"></td>
        </tr>
        <tr>
            <th scope="row">Module name</th>
            <td>@Html.DisplayFor(model => module.Name)</td>
            <td id="otherFileModuleName"></td>
        </tr>
        <tr>
            <th scope="row">Semester year</th>
            <td>@Html.DisplayFor(model => semester.Year)</td>
            <td id="otherFileSemesterYear"></td>
        </tr>
        <tr>
            <th scope="row">Semester term</th>
            <td>
                <a asp-controller="Semester" asp-action="Details" asp-route-id="@semester.Id">
                    @Html.DisplayFor(model => semester.Term)
                </a>
            </td>
            <td id="otherFileSemesterTerm"></td>
        </tr>
        <tr>
            <th scope="row">Student name</th>
            <td>@Html.DisplayFor(model => student.Name)</td>
            <td id="otherFileStudentName"></td>
        </tr>
        <tr>
            <th scope="row">Student ID</th>
            <td>
                <a asp-controller="Student" asp-action="Details" asp-route-id="@student.Id">
                    @Html.DisplayFor(model => student.StudentId)
                </a>
            </td>
            <td id="otherFileStudentId"></td>
        </tr>
        <tr>
            <th scope="row">Submission name</th>
            <td>
                <a asp-controller="Submission" asp-action="Details" asp-route-id="@submission.Id">
                    @Html.DisplayFor(model => submission.Name)
                </a>
            </td>
            <td id="otherFileSubmissionName"></td>
        </tr>
        <tr>
            <th scope="row">@Html.DisplayNameFor(model => submission.State)</th>
            <td>@Html.DisplayFor(model => submission.State)</td>
            <td id="otherFileSubmissionState"></td>
        </tr>
        <tr>
            <th scope="row">@Html.DisplayNameFor(model => submission.Submitted)</th>
            <td>@Html.DisplayFor(model => submission.Submitted)</td>
            <td id="otherFileSubmissionSubmitted"></td>
        </tr>
        <tr>
            <th scope="row">@Html.DisplayNameFor(model => Model.FilePath)</th>
            <td>@Html.DisplayFor(model => Model.FilePath)</td>
            <td id="otherFileFilePath"></td>
        </tr>
        <tr>
            <th scope="row">@Html.DisplayNameFor(model => Model.NumCharacters)</th>
            <td>@Html.DisplayFor(model => Model.NumCharacters)</td>
            <td id="otherFileNumCharacters"></td>
        </tr>
        <tr>
            <th scope="row">@Html.DisplayNameFor(model => Model.NumLines)</th>
            <td>@Html.DisplayFor(model => Model.NumLines)</td>
            <td id="otherFileNumLines"></td>
        </tr>
        <tr>
            <th scope="row">@Html.DisplayNameFor(model => Model.NumTokens)</th>
            <td>@Html.DisplayFor(model => Model.NumTokens)</td>
            <td id="otherFileNumTokens"></td>
        </tr>
        </tbody>
    </table>
</div>

<div class="mt-3">
    <table class="table" id="tokensTable">
        <thead>
        <tr>
            <th>Selected file line start</th>
            <th>Other file line start</th>
            <th>Number matching tokens</th>
            <th>View matching tokens</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<div class="mt-3">
    <h5>Matching tokens</h5>
    
    <h6>Selected file</h6>
    <code id="mainMatchingTokensCode" class="d-block bg-light"></code>
    
    <h6 class="mt-3">Other file</h6>
    <code id="otherMatchingTokensCode" class="d-block bg-light"></code>
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>

<div class="modal-dialog modal-xl">

</div>

@section Scripts
{
    <script>
    let currentFileId = @Html.Raw(Model.Id)
    let comparisonReports = @Html.Raw(reports)
    </script>

    <script>
    let updateDetailsTable = function(otherFile) {
        let moduleLinkTag = $('<a></a>');
        moduleLinkTag.text(otherFile.Submission.SemesterStudent.Semester.Module.Code);
        let moduleLink = `@Url.Action("Details", "Module")/${otherFile.Submission.SemesterStudent.Semester.Module.Id}`;
        moduleLinkTag.attr('href', moduleLink);
        $('#otherFileModuleCode').html(moduleLinkTag);
        
        $('#otherFileModuleName').text(otherFile.Submission.SemesterStudent.Semester.Module.Name);
        $('#otherFileSemesterYear').text(otherFile.Submission.SemesterStudent.Semester.Year);
        
        let semesterLinkTag = $('<a></a>');
        semesterLinkTag.text(otherFile.Submission.SemesterStudent.Semester.Term);
        let semesterLink = `@Url.Action("Details", "Semester")/${otherFile.Submission.SemesterStudent.Semester.Id}`;
        semesterLinkTag.attr('href', semesterLink);
        $('#otherFileSemesterTerm').html(semesterLinkTag);
        
        $('#otherFileStudentName').text(otherFile.Submission.SemesterStudent.Student.Name);
        
        let studentLinkTag = $('<a></a>');
        studentLinkTag.text(otherFile.Submission.SemesterStudent.Student.StudentId);
        let studentLink = `@Url.Action("Details", "Student")/${otherFile.Submission.SemesterStudent.Student.Id}`;
        studentLinkTag.attr('href', studentLink);
        $('#otherFileStudentId').html(studentLinkTag);
        
        let submissionLinkTag = $('<a></a>');
        submissionLinkTag.text(otherFile.Submission.Name);
        let submissionLink = `@Url.Action("Details", "Submission")/${otherFile.Submission.Id}`;
        submissionLinkTag.attr('href', submissionLink);
        $('#otherFileSubmissionName').html(submissionLinkTag);
        
        $('#otherFileSubmissionState').text(otherFile.Submission.State);
        $('#otherFileSubmissionSubmitted').text(new Date(otherFile.Submission.Submitted).toLocaleString());
        $('#otherFileFilePath').text(otherFile.FilePath);
        $('#otherFileNumCharacters').text(otherFile.NumCharacters);
        $('#otherFileNumLines').text(otherFile.NumLines);
        $('#otherFileNumTokens').text(otherFile.NumTokens);
    };
    
    let updateTokensTable = function(report, reportIndex) {
        let mainFileFirst = report.MatchesMain === currentFileId;
        let mainTokenMatchIndexStart = mainFileFirst ? "FileATokenIndexStart" : "FileBTokenIndexStart";
        let otherTokenMatchIndexStart = mainFileFirst ? "FileBTokenIndexStart" : "FileATokenIndexStart";
        
        let tokensTableBody = $('#tokensTable tbody');
        tokensTableBody.empty();
        
        report.Matches.forEach(function(match) {
            let mainTokenStart = match[mainTokenMatchIndexStart];
            let otherTokenStart = match[otherTokenMatchIndexStart];
            let numMatchingTokens = match.NumberMatchingTokens;
            
            // Database result always in that order
            let mainFirstToken = report.CFiles[1].Tokens[mainTokenStart];
            let otherFirstToken = report.CFiles[0].Tokens[otherTokenStart];
            
            let newRow = $('<tr></tr>');
            newRow.append(`<td>${mainFirstToken.lineNumber}</td>`);
            newRow.append(`<td>${otherFirstToken.lineNumber}</td>`);
            newRow.append(`<td>${numMatchingTokens}</td>`);
            newRow.append(`<td> <a href="#" data-report-index="${reportIndex}" data-main-token-index="${mainTokenStart}" data-other-token-index="${otherTokenStart}" data-num-tokens="${numMatchingTokens}" class="view-tokens-link">View tokens</a></td>`);
            
            tokensTableBody.append(newRow);
        });
    };
    
    $('.compare-link').on('click', function(event) {
        event.preventDefault();
        
        let reportIndex = parseInt($(this).attr('data-id'));
        let report = comparisonReports[reportIndex];
        
        let mainFile = report['CFiles'][1];
        let otherFile = report['CFiles'][0];
            
        updateDetailsTable(otherFile);
        updateTokensTable(report, reportIndex);
        
        registerViewTokens();
        $('#matchingTokensCode').empty();
    });
    
    let populateCodeBox = function (codeBox, tokens) {
        codeBox.empty();
                    
        let lineNumber = tokens[0].lineNumber;
        let lineSpan = $('<span />').addClass('codeLine').attr('line-number', lineNumber);;
        let lineText = '';
        
        tokens.forEach(function (token) {
            while (token.lineNumber > lineNumber) {
                lineSpan.text(lineText)
                lineText = '';
                
                codeBox.append(lineSpan);
                
                lineNumber += 1;
                lineSpan = $('<span />').addClass('codeLine').attr('line-number', lineNumber);
            }

            lineText += token.text + ' ';
        });
        lineSpan.text(lineText);
        codeBox.append(lineSpan);
    };
    
    let registerViewTokens = function () {
        $('.view-tokens-link').on('click', function(event) {
            event.preventDefault();
            
            let reportIndex = parseInt($(this).attr('data-report-index'));
            let report = comparisonReports[reportIndex];
            
            let mainTokensStartIndex = parseInt($(this).attr('data-main-token-index'));
            let otherTokensStartIndex = parseInt($(this).attr('data-other-token-index'));
            let numMatchingTokens = parseInt($(this).attr('data-num-tokens'));
            
            let mainFile = report['CFiles'][1];
            let otherFile = report['CFiles'][0];
            
            populateCodeBox($('#mainMatchingTokensCode'), mainFile.Tokens.slice(mainTokensStartIndex, mainTokensStartIndex + numMatchingTokens));
            populateCodeBox($('#otherMatchingTokensCode'), otherFile.Tokens.slice(otherTokensStartIndex, otherTokensStartIndex + numMatchingTokens));
            
        });
    };

    </script>
}