@model IEnumerable<PlagiarismCompare.Data.Models.CFile>

@{
    ViewData["Title"] = "C Files";
}

<h1>Submissions</h1>

<table class="table">
    <thead>
    <tr>
        <th colspan="2">
            Module
        </th>
        <th colspan="2">
            Semester
        </th>
        <th colspan="2">
            Student
        </th>
        <th colspan="3">
            Submission
        </th>
        <th></th>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Submission.SemesterStudent.Semester.Module.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Submission.SemesterStudent.Semester.Module.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Submission.SemesterStudent.Semester.Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Submission.SemesterStudent.Semester.Term)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Submission.SemesterStudent.Student.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Submission.SemesterStudent.Student.StudentId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Submission.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Submission.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Submission.Submitted)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var cFile in Model)
    {
        var submission = cFile.Submission;
        var semester = submission.SemesterStudent.Semester;
        var module = semester.Module;
        var student = submission.SemesterStudent.Student;
        
        <tr>
            <td>
                @Html.DisplayFor(modelItem => module.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => module.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => semester.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => semester.Term)
            </td>
            <td>
                @Html.DisplayFor(modelItem => student.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => student.StudentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => submission.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => submission.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => submission.Submitted)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@cFile.Id">Details</a>
            </td>
        </tr>
    }
    </tbody>
</table>