@using PlagiarismCompare.Data.Models
@model PlagiarismCompare.Web.Models.SemesterStudentCreateForm

@{
    ViewData["Title"] = "Enrol in semester";
    Semester semester = ViewBag.semester;
}

<h1>Enrol student</h1>

<hr/>
<dl class="row">
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => semester.Module.Code)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => semester.Module.Code)
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => semester.Module.Name)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => semester.Module.Name)
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => semester.Year)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => semester.Year)
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => semester.Term)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => semester.Term)
    </dd>
</dl>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateFromSemester">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group my-2">
                <label asp-for="StudentId" class="control-label"></label>
                <select asp-for="StudentId" asp-items="@(new SelectList(ViewBag.possibleStudents,"Id",null))" class="form-control"></select>
                <span asp-validation-for="StudentId" class="text-danger"></span>
            </div>
            <div class="form-group my-2">
                <input type="submit" value="Enrol" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


