@using PlagiarismCompare.Data.Models
@model PlagiarismCompare.Web.Models.SemesterStudentCreateForm

@{
    ViewData["Title"] = "Enrol in semester";
    Student student = ViewBag.student;
}

<h1>Enrol @student.Name in semester</h1>

<hr/>
<dl class="row">
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => student.FirstName)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => student.FirstName)
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => student.LastName)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => student.LastName)
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => student.Code)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => student.Code)
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => student.StudentId)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => student.StudentId)
    </dd>
</dl>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateFromStudent">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group my-2">
                <label asp-for="SemesterId" class="control-label"></label>
                <select asp-for="SemesterId" asp-items="@(new SelectList(ViewBag.possibleSemesters,"Id",null))" class="form-control"></select>
                <span asp-validation-for="SemesterId" class="text-danger"></span>
            </div>
            <div class="form-group my-2">
                <input type="submit" value="Enrol" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


