@model PlagiarismCompare.Data.Models.SemesterStudent

@{
    ViewData["Title"] = "Unenrol student";
}

<h1>Unenrol student</h1>

<h3>Are you sure you want to unenrol @Model.Student.Name from @Model.Semester?</h3>
<div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Unenrol" class="btn btn-danger" /> |
        <a asp-controller="Student" asp-action="Details" asp-route-id="@Model.Student.Id">Back to Student details</a>
    </form>
</div>
