@model PlagiarismCompare.Data.Models.Student

@{
    ViewData["Title"] = "Details";
}

<h1>Student Details</h1>

<div>
    <h4>Student</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StudentId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StudentId)
        </dd>
    </dl>
</div>

<div>
    <h4>Enrolled semesters</h4>
    <p>
        <a asp-controller="SemesterStudent" asp-action="CreateFromStudent" asp-route-id="@Model.Id">Enrol in semester</a>
    </p>
    <hr/>
    <table class="table">
        <thead>
        <tr>
            <th>Module Code</th>
            <th>Module Name</th>
            <th>Year</th>
            <th>Term</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var semesterStudent in Model.SemesterStudents)
        {
            var semester = semesterStudent.Semester;
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => semester.Module.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => semester.Module.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => semester.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => semester.Term)
                </td>
                <td>
                    <a asp-controller="Submission" asp-action="Create" asp-route-id="@semesterStudent.Id">Create submission</a> |
                    <a asp-controller="Semester" asp-action="Details" asp-route-id="@semester.Id">Semester details</a> |
                    <a asp-controller="SemesterStudent" asp-action="Delete" asp-route-id="@semesterStudent.Id">Unenrol</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

<div>
    <h4>Submissions</h4>
    <hr/>

    <table class="table">
        <thead>
        <tr>
            <th colspan="2">
                Module
            </th>
            <th colspan="2">
                Semester
            </th>
            <th colspan="3">
                Submission
            </th>
            <th></th>
        </tr>
        <tr>
            <th>
                Code
            </th>
            <th>
                Name
            </th>
            <th>
                Year
            </th>
            <th>
                Term
            </th>
            <th>
                Name
            </th>
            <th>
                State
            </th>
            <th>
                Submitted
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var semesterStudent in Model.SemesterStudents)
        {
            @foreach (var submission in semesterStudent.Submissions)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => submission.SemesterStudent.Semester.Module.Code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => submission.SemesterStudent.Semester.Module.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => submission.SemesterStudent.Semester.Year)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => submission.SemesterStudent.Semester.Term)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => submission.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => submission.State)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => submission.Submitted)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@submission.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@submission.Id">Delete</a>
                    </td>
                </tr>
            }
        }
        </tbody>
    </table>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to students list</a>
</div>