@model PlagiarismCompare.Data.Models.Semester

@{
    ViewData["Title"] = "Details";
}

<h1>Semester Details</h1>

<div>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Module.Code)
        </dt>
        <dd class="col-sm-10">
            <a asp-controller="Module" asp-action="Details" asp-route-id="@Model.Module.Id">
                @Html.DisplayFor(model => model.Module.Code)
            </a>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Module.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Module.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Term)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Term)
        </dd>
    </dl>
</div>

<div>
    <h4>Enrolled students</h4>
    <p>
        <a asp-controller="SemesterStudent" asp-action="CreateFromSemester" asp-route-id="@Model.Id">Enrol student</a>
    </p>
    <hr/>
    <table class="table">
        <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Code</th>
            <th>Student Id</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var semesterStudent in Model.SemesterStudents)
        {
            var student = semesterStudent.Student;
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => student.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => student.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => student.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => student.StudentId)
                </td>
                <td>
                    <a asp-controller="Submission" asp-action="Create" asp-route-id="@semesterStudent.Id">Create submission</a> |
                    <a asp-controller="Student" asp-action="Details" asp-route-id="@student.Id">Student details</a> |
                    <a asp-controller="SemesterStudent" asp-action="Delete" asp-route-id="@semesterStudent.Id">Unenrol</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>