@using PlagiarismCompare.Data.Models
@model PlagiarismCompare.Data.Models.Semester

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Semester</h1>

<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <h5>Module</h5>
            <div class="form-group my-2">
                <label asp-for="Module.Code" class="control-label"></label>
                <input asp-for="Module.Code" class="form-control" value="@Model.Module.Code" readonly/>
                <span asp-validation-for="Module.Code" class="text-danger"></span>
            </div>
            <div class="form-group my-2">
                <label asp-for="Module.Name" class="control-label"></label>
                <input asp-for="Module.Name" class="form-control" value="@Model.Module.Name" readonly/>
                <span asp-validation-for="Module.Name" class="text-danger"></span>
            </div>
            
            <h5>Semester</h5>
            <div class="form-group my-2">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control"/>
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group my-2">
                <label asp-for="Term" class="control-label"></label>
                <select asp-for="Term" asp-items="Html.GetEnumSelectList<Term>()" class="form-control"></select>
                <span asp-validation-for="Term" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id"/>
            <div class="form-group my-2">
                <input type="submit" value="Save" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>