@using PlagiarismCompare.Data.Models
@model PlagiarismCompare.Web.Models.SubmissionForm

@{
    ViewData["Title"] = "Create";
    SemesterStudent semesterStudent = ViewBag.SemesterStudent;
}

<h1>Create Submission</h1>

<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <h5>Module</h5>
            <div class="form-group my-2">
                <label class="control-label">Code</label>
                <input type="text" class="form-control" value="@semesterStudent.Semester.Module.Code" readonly/>
            </div>
            <div class="form-group my-2">
                <label class="control-label">Name</label>
                <input type="text" class="form-control" value="@semesterStudent.Semester.Module.Name" readonly/>
            </div>

            <h5>Semester</h5>
            <div class="form-group my-2">
                <label class="control-label">Year</label>
                <input type="text" class="form-control" value="@semesterStudent.Semester.Year" readonly/>
            </div>
            <div class="form-group my-2">
                <label class="control-label">Term</label>
                <input type="text" class="form-control" value="@semesterStudent.Semester.Term" readonly/>
            </div>

            <h5>Student</h5>
            <div class="form-group my-2">
                <label class="control-label">Name</label>
                <input type="text" class="form-control" value="@semesterStudent.Student.Name" readonly/>
            </div>
            <div class="form-group my-2">
                <label class="control-label">Student ID</label>
                <input type="number" class="form-control" value="@semesterStudent.Student.StudentId" readonly/>
            </div>

            <h5>Submission</h5>
            <div class="form-group my-2">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group my-2">
                <label asp-for="ZipFile" class="control-label"></label>
                <input asp-for="ZipFile" class="form-control"/>
                <span asp-validation-for="ZipFile" class="text-danger"></span>
            </div>

            <div class="form-group my-2">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" id="backToList">Back to List</a>
</div>

@section Scripts
{
    <script>
    let enableQuickSubmission = function () {
        // Submit in new tab
        $('form').attr('target', '_blank');
        
        // Delete back to list
        $('#backToList').remove();
        
        // Auto increment name
        $('.btn-primary').on('click', function() {
            let nameNum = parseInt($('#Name').val());
            $('#Name').val(nameNum+1);
        });
    }
    </script>
}