@using PlagiarismCompare.Data.Models
@model PlagiarismCompare.Data.Models.Submission

@{
    ViewData["Title"] = "Details";
    var semester = Model.SemesterStudent.Semester;
    var module = semester.Module;
    var student = Model.SemesterStudent.Student;
}

<h1>Submission Details</h1>

<div class="mt-3">
    <table class="table">
        <thead>
        <tr>
            <th>Details</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">Module code</th>
            <td>
                <a asp-controller="Module" asp-action="Details" asp-route-id="@module.Id">
                    @Html.DisplayFor(model => module.Code)
                </a>
            </td>
        </tr>
        <tr>
            <th scope="row">Module name</th>
            <td>@Html.DisplayFor(model => module.Name)</td>
        </tr>
        <tr>
            <th scope="row">Semester year</th>
            <td>@Html.DisplayFor(model => semester.Year)</td>
        </tr>
        <tr>
            <th scope="row">Semester term</th>
            <td>
                <a asp-controller="Semester" asp-action="Details" asp-route-id="@semester.Id">
                    @Html.DisplayFor(model => semester.Term)
                </a>
            </td>
        </tr>
        <tr>
            <th scope="row">Student name</th>
            <td>@Html.DisplayFor(model => student.Name)</td>
        </tr>
        <tr>
            <th scope="row">Student ID</th>
            <td>
                <a asp-controller="Student" asp-action="Details" asp-route-id="@student.Id">
                    @Html.DisplayFor(model => student.StudentId)
                </a>
            </td>
        </tr>
        <tr>
            <th scope="row">Submission name</th>
            <td>@Html.DisplayFor(model => Model.Name)</td>
        </tr>
        <tr>
            <th scope="row">@Html.DisplayNameFor(model => Model.State)</th>
            <td>@Html.DisplayFor(model => Model.State)</td>
        </tr>
        <tr>
            <th scope="row">@Html.DisplayNameFor(model => Model.Submitted)</th>
            <td>@Html.DisplayFor(model => Model.Submitted)</td>
        </tr>
        </tbody>
    </table>
</div>

<div class="mt-3">
    <h4>C Files</h4>
    <hr/>
    <table class="table">
        <thead>
        <tr>
            <th>File path</th>
            <th># Characters</th>
            <th># Lines</th>
            <th># Tokens</th>
            <th>Longest token match</th>
            <th>Highest similarity</th>
            <th>Error?</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @if (Model.State == SubmissionState.Processed)
        {
            @foreach (var cFile in Model.CFiles)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => cFile.FilePath)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => cFile.NumCharacters)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => cFile.NumLines)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => cFile.NumTokens)
                    </td>
                    <td>
                        @if (cFile.ComparisonResults.Count > 0)
                        {
                            @Html.Raw(cFile.ComparisonResults.Max(r => r.LongestTokenMatch))
                        }
                        else
                        {
                            <span>N/A</span>
                        }
                    </td>
                    <td>
                        @if (cFile.ComparisonResults.Count > 0)
                        {
                            @cFile.ComparisonResults.Max(r => r.Similarity).ToString("P")
                        }
                        else
                        {
                            <span>N/A</span>
                        }
                    </td>
                    <td>
                        @Html.DisplayName(cFile.Error != null ? "Yes" : "No")
                    </td>
                    <td>
                        <a asp-controller="CFile" asp-action="Details" asp-route-id="@cFile.Id">Details</a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="8">Processing</td>
            </tr>
        }
        </tbody>
    </table>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>