@model IEnumerable<PlagiarismCompare.Data.Models.Submission>

@{
    ViewData["Title"] = "Submissions";
}

<h1>Submissions</h1>

<table class="table">
    <thead>
    <tr>
        <th colspan="2">
            Module
        </th>
        <th colspan="2">
            Semester
        </th>
        <th colspan="2">
            Student
        </th>
        <th colspan="3">
            Submission
        </th>
        <th></th>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SemesterStudent.Semester.Module.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SemesterStudent.Semester.Module.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SemesterStudent.Semester.Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SemesterStudent.Semester.Term)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SemesterStudent.Student.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SemesterStudent.Student.StudentId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Submitted)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var submission in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => submission.SemesterStudent.Semester.Module.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => submission.SemesterStudent.Semester.Module.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => submission.SemesterStudent.Semester.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => submission.SemesterStudent.Semester.Term)
            </td>
            <td>
                @Html.DisplayFor(modelItem => submission.SemesterStudent.Student.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => submission.SemesterStudent.Student.StudentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => submission.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => submission.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => submission.Submitted)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@submission.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@submission.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>